<% layout("layout/Boilerplate") %> 
    <h1> Show Campground <span style="color: red"><%=   campgrounds.title %></span> </h1>
    <a href="/campgrounds">Back to all Campgrounds</a>
    <a href="/campgrounds/<%= campgrounds.id %>/edit ">edit</a>
